{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Nova conta a pagar
                    </h3>
                </div>
                <div class="panel-body">
                    {% set action = route('pays.store') %}
                    {% set submitIcon = 'floppy-disk' %}
                    {% include 'pays/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}